body {
    background-color: #312e2b;
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#container {
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    margin: inherit;
    padding: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessBoard {
    height: 35vw;
    width: 35vw;
    position: absolute;

    background-image: url("./img/150.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.wp {
    background-image: url("./img/wp.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.wr {
    background-image: url("./img/wr.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.wb {
    background-image: url("./img/wb.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.wn {
    background-image: url("./img/wn.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.wk {
    background-image: url("./img/wk.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.wq {
    background-image: url("./img/wq.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.bp {
    background-image: url("./img/bp.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.br {
    background-image: url("./img/br.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.bb {
    background-image: url("./img/bb.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.bn {
    background-image: url("./img/bn.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.bk {
    background-image: url("./img/bk.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.bq {
    background-image: url("./img/bq.png");
    width: 4.375vw;
    height: 4.375vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: inherit;
    padding: inherit;
}

.square {
    width: 4.375vw;
    height: 4.375vw;
    padding: inherit;
    margin: inherit;
    float: left;
    z-index: 1;

}

/* .square:hover {
    background-color: red;
} */

.square > div:hover {
    cursor: pointer;
    z-index: 2;
}